<h1>Listing to_do_lists</h1>

<table>
  <thead>
    <tr>
      <th>List name</th>
      <th>List item</th>
      <th>Item completed</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @to_do_lists.each do |to_do_list| %>
      <tr>
        <td><%= to_do_list.list_name %></td>
        <td><%= to_do_list.list_item %></td>
        <td><%= to_do_list.item_completed %></td>
        <td><%= link_to 'Show', to_do_list %></td>
        <td><%= link_to 'Edit', edit_to_do_list_path(to_do_list) %></td>
        <td><%= link_to 'Destroy', to_do_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New To do list', new_to_do_list_path %>
